.nav-toggle {
	position: fixed;
	margin: 5%;
	padding-bottom: 2px;
	color: $white;
}

nav {
	display: none;
	position: fixed;
	width: 33.3333%;
	box-sizing: border-box;
	color: $black;
	background-color: $white;
	text-align: left;
	padding: 5%;

	h2 {

	}

	ul {
		padding: 0;
		list-style: none;

		li {

		}
	}
}

nav:hover {
}